:host {
  display: block;
}

header {
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 12px 16px;
}

h1 {
  font-size: 1.37rem;
  line-height: 1.27;
  font-weight: 400;
  margin-inline-end: auto;
  margin-block: 0;
}

main {
  padding: 24px;
  max-width: 80ch;
  margin-inline: auto;
}

.error {
  font-size: 1.25rem;
  font-weight: 500;
  margin-block-start: 2em;
  text-align: center;
}
