:host {
  display: block;
}

header {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  display: flex;
  padding: 12px 16px;
  font-size: 1.37rem;
  line-height: 1.27;
  font-weight: 400;
}

main {
  padding: 24px;
  max-width: 80ch;
  margin-inline: auto;
}

.error {
  font-size: 1.25rem;
  font-weight: 500;
  margin-block-start: 2em;
  text-align: center;
}
