:host {
  display: block;
}

form {
  display: grid;
  gap: 24px;

  @media (width > 600px) {
    grid-template-columns: 1fr 1fr;
  }
}

label {
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 500;
}

.form-group {
  display: grid;
  gap: 4px;
}

select {
  --select-arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  color: var(--foreground-dim);
  appearance: none;
  background-color: #fff;
  background-image: var(--select-arrow);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid var(--outline);
  border-radius: 4px;
  /* Set this to 0 so it will shrink with the grid */
  min-inline-size: 0;

  &:focus,
  &:focus-visible {
    border-color: var(--primary);
    outline: 2px solid var(--primary-light);
  }
}

input {
  padding: 0.375rem 0.75rem;
  color: var(--foreground-dim);
  background-color: #fff;
  border: 1px solid var(--outline);
  border-radius: 4px;

  &::selection {
    background-color: var(--primary-light);
  }

  &:focus,
  &:focus-visible {
    border-color: var(--primary);
    outline: 2px solid var(--primary-light);
  }
}

button {
  grid-column: -2;
  justify-self: end;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 8px 24px;
  color: var(--primary-foreground);
  background-color: var(--primary);
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  transition: background-color 250ms;

  &:hover:not(:disabled) {
    background-color: color-mix(in oklch, var(--primary) 80%, var(--primary-foreground) 20%)
  }

  &:focus-visible:not(:disabled) {
    background-color: color-mix(in oklch, var(--primary) 80%, var(--primary-foreground) 20%);
    outline: 2px solid var(--primary-dark);
    outline-offset: 2px;
  }

  &:disabled {
    background-color: oklch(80% 0 0);
    color: oklch(50% 0 0);
    cursor: default;
  }
}
