:root {
  --primary: oklch(50% 70% 350);
  --primary-foreground: #fff;
  --primary-light: oklch(from var(--primary) 90% calc(c * .2) h);
  --primary-dark: oklch(from var(--primary) 30% calc(c * .8) h);

  --background: oklch(from var(--primary) 98% 2% h);
  --foreground: oklch(from var(--primary) 20% 2% h);
  --foreground-dim: oklch(from var(--primary) 40% 2% h);
  --outline: oklch(from var(--primary) 60% 2% h);
}

body {
  font-family: system-ui, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--foreground);
  margin: 0px;
  min-height: 100vh;
}

input,
select,
button {
  font: inherit;
}

a {
  color: var(--primary);

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    text-decoration: none;
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }
}
