:root {
  --background: oklch(98% 0 0);
  --foreground: oklch(20% 0 0);
  --foreground-dim: oklch(40% 0 0);
  --outline: oklch(60% 0 0);

  --primary-foreground: #fff;
  --primary: oklch(50% 0.28 295);
  --primary-light: oklch(from var(--primary) 90% calc(c * .2) h);
  --primary-dark: oklch(from var(--primary) 30% calc(c * .8) h);
}

body {
  font-family: system-ui, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--foreground);
  margin: 0px;
  min-height: 100vh;
}

input,
select,
button {
  font: inherit;
}
